body{
	position: relative;
}
.wrapper{
	border: 1px solid #000;
	width: 1200px;
	height: 220px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.wrapper h2{
	text-align: center;
}
.wrapper #ChouJiang{
	width:100px;
	height: 40px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
/*奖项标签*/
.wrapper .prize{
	/*border: 1px solid #000;*/
	list-style: none;
	width: 265px;
	height: 80px;
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.wrapper .prize #prize{
	margin-bottom: 7px;
}
.wrapper .prize #prize label{
	margin-right: 20px;
}
