body{
  background: #fff;
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 500px;
  height: 500px;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
}

.circle{
  position: absolute;
  bottom: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  height: 400px;
  background: #d7dcdd;
  overflow: hidden;
  border-radius: 360px;
}

.sun{
  position: absolute;
  bottom: 260px;
  right: 80px;
  width: 120px;
  height: 120px;
  background: #f1e9cb;
  border-radius: 360px;
}

.cloud{
  position: absolute;
  bottom: 350px;
  right: 50px;
  width: 100px;
  height: 15px;
  border-radius: 40px;
  background: #eee;
  animation: cloud1 25s 0 linear infinite;
}

@keyframes cloud1{
  0%{
    right: -120px;
  }
  100%{
    right: 400px;
  }
}

.cloud:after{
  content:'';
  position: absolute;
  top: 10px;
  right: 30px;
  width: 90px;
  height: 15px;
  border-radius: 40px;
  background: #eee;
}

.cloud2{
  position: absolute;
  bottom: 320px;
  left: 0px;
  width: 100px;
  height: 15px;
  border-radius: 40px;
  background: #eee;
  animation: cloud2 25s 0 linear infinite;
}

@keyframes cloud2{
  0%{
    left: 0px;
  }
  100%{
    left: 500px;
  }
}

.cloud2:after{
  content:'';
  position: absolute;
  top: 10px;
  left: 50px;
  width: 90px;
  height: 15px;
  border-radius: 40px;
  background: #eee;
}

.house1{
  position: absolute;
  bottom: 115px;
  left: 0px;
  width: 144px;
  height: 170px;
  background: #c5d6e5;
  border-right: 6px solid #71797f;
  border-top: 6px solid #71797f;
  border-bottom: 6px solid #71797f;
  box-shadow: inset 0 8px 0 #9ba7b2;
}

.house1 .upperroof_bord{
  position: absolute;
  left: 43px;
  bottom: 220px;
  width: 0; 
  height: 0; 
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #71797f;
}

.house1 .upperroof{
  position: absolute;
  left: 47px;
  bottom: 220px;
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #adbcc7;
}

.house1 .upperroof_ins_bord{
  position: absolute;
  left: 59px;
  bottom: 220px;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #71797f;
}

.house1 .upperroof_ins{
  position: absolute;
  left: 65px;
  bottom: 223px;
  width: 0; 
  height: 0; 
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #8f9aa3;
}

.house1 .rooftop{
  position: absolute;
  left: 43px;
  bottom: 190px;
  width: 60px;
  height: 30px;
  background: #adbcc7;
  border-right: 5px solid #71797f;
  border-left: 5px solid #71797f;
}

.house1 .rooftop div{
  background: #d8dee2;
  width: 43px;
  height: 17px;
  margin-left: 6px;
  margin-top: 5px;
  border: 3px solid #71797f;
}

.house1 .rooftop div div{
  background: #d8dee2;
  width: 26px;
  height: 4px;
  margin-left: 6px;
  margin-top: 5px;
  border: 3px solid #71797f;
  background: linear-gradient(to right, rgba(113,121,127,1) 0%,rgba(113,121,127,1) 23%,rgba(216,222,226,1) 23%,rgba(216,222,226,1) 75%,rgba(113,121,127,1) 75%,rgba(113,121,127,1) 75%);
  background-size: 9px 9px;
}

.house1 .roof{
  position: absolute;
  bottom: 182px;
  left: -2px;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, rgba(122,99,101,1) 0%,rgba(122,99,101,1) 22%,rgba(233,191,197,1) 23%,rgba(233,191,197,1) 79%,rgba(122,99,101,1) 79%); /* W3C */
  background-size: 9px 8px;
  border: 4px solid #7a6365;
}

.house1 .sep{
  position: absolute;
  bottom: 176px;
  left: 0px;
  background: #fff;
  width: 100%;
  height: 6px;
  border-right: 6px solid #71797f;
  box-shadow: inset 0 -3px 0 #b9bbbd;
}

.house1 ul{
  position: absolute;
  bottom: 125px;
  left: -16px;
}

.house1 ul:nth-child(8){
  position: absolute;
  bottom: 70px;
  left: -16px;
}

.house1 ul li{
  float: left;
  width: 15px;
  height: 30px;
  border: 4px solid #71797f;
  background: #dee6ec;
  margin-left: 20px;
}

.house1 ul li:after{
  content: '';
  position: absolute;
  margin-top: 7px;
  width: 15px;
  height: 3px;
  background: #71797f;
}

.house1 ul li:before{
  content: '';
  position: absolute;
  margin-left: 6px;
  width: 3px;
  height: 30px;
  background: #71797f;
}

.house1 ul li div{
  position: absolute;
  margin-top: 32px;
  margin-left: -7px;
  width: 25px;
  height: 4px;
  background: #fff;
  border: 3px solid #71797f;
  box-shadow: inset 0 -2px 0 #d6d6d5, 0 4px 0 #9ba7b2; 
}

.house1 ul li:nth-child(3){
  margin-left: -4px;
}

.house1 ul li:nth-child(3) div{
  margin-left: -5px;
  border-left: 0px solid #fff;
}

.house1 .window{
  position: absolute;
  bottom: -5px;
  right: 5px;
  border: 5px solid #71797f;
  width: 20px;
  height: 15px;
  background: #d7dcdd;
}

.house1 .win2{
  left: 5px;
}

.house1 .win3{
  left: 45px;
  width: 45px;
}

.house1 .window:after{
  content:'';
  position: absolute;
  top: 3px;
  width: 100%;
  height: 4px;
  background: #71797f;
}

.house2{
  position: absolute;
  bottom: 115px;
  left: 150px;
  height: 120px;
  width: 130px;
  border-left: 6px solid #534d48;
  border-right: 6px solid #534d48;
  border-bottom: 6px solid #534d48;
  border-top: 3px solid #534d48;
  background: #8d857e;
}

.house2 .roof{
  position: absolute;
  bottom: 123px;
  left: -6px;
  width: calc(100% + 6px);
  height: 8px;
  background: linear-gradient(to right, rgba(122,99,101,1) 0%,rgba(122,99,101,1) 22%,rgba(233,191,197,1) 23%,rgba(233,191,197,1) 79%,rgba(122,99,101,1) 79%); /* W3C */
  background-size: 9px 8px;
  border: 4px solid #7a6365;
}

.house2 .holes{
  position: absolute;
  bottom: 78px;
  left: -80px;
  width: 130px;
  height: 16px;
}

.house2 .holes ul{
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.house2 .holes ul li{
  float: left;
  margin-left: 8.5px;
  border: 2px solid #534d48;
  width: 6px;
  height: 6px;
  background: #a69d96;
  border-radius: 360px;
}

.house2 .sep{
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 3px; 
  background: #534d48;
}

.house2 .body{
  position: absolute;
  bottom: 18px;
  border-bottom: 2px solid #534d48;
  width: 100%;
  height: 80px;
  background: #a69d96;
  box-shadow: 0 6px 0 rgba(0,0,0,0.2);
}


.house2 .windows{
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 140px;
  height: 90px;
}

.house2 .windows li{
  width: 12px;
  height: 25px;
  border: 4px solid #534d48;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  box-shadow: inset 0 3px 0 #fff, inset 0 -3px 0 #fff, inset 3px 0 0 #fff, inset -3px 0 0 #fff;
  float: left;
  margin-left: 5px;
}

.house2 .windows li:after{
  content: '';
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-radius: 360px;
  position: absolute;
  margin-top: 7px;
  margin-left: 1px;
}

.house2 .windows li:before{
  content: '';
  width: 2px;
  height: 7px;
  background: #fff;
  position: absolute;
  margin-top: 17px;
  margin-left: 5px;
}

.house2 .lower_windows{
  position: absolute;
  bottom: -72px;
  left: 0px;
  width: 140px;
  height: 90px;
}

.house2 .lower_windows li{
  float: left;
  width: 25px;
  height: 12px;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  border: 3px solid #7a6365;
  background: #e9bfc5;
  margin-left: 10px;
}

.house2 .lower_windows li:after{
  content: '';
  position: absolute;
  margin-left: 5px;
  margin-top: -2px;
  border: 3px solid #7a6365;
  height: 10px;
  width: 10px;
  border-radius: 360px;
}

.house2 .chimney{
  border: 5px solid #534d48;
  background: #a69d96;
  position: absolute;
  top: -40px;
  right: 15px;
  width: 20px;
  height: 25px;
}

.house2 .chimney:after{
  content: '';
  position: absolute;
  top: -18px;
  left: 0px;
  border: 5px solid #534d48;
  background: #d1c7be;
  width: 10px;
  height: 8px;
}

.house2 .chimney:before{
  content: '';
  position: absolute;
  top: -26px;
  left: -6px;
  border: 3px solid #7a6365;
  background: #e9bfc5;
  width: 25px;
  height: 3px;
}

.house3{
  position: absolute;
  bottom: 115px;
  left: 292px;
  width: 70px;
  height: 170px;
  border: 6px solid #958576;
  background: #dbc5af;
}

.house3 .roof{
  position: absolute;
  bottom: 176px;
  left: -6px;
  width: calc(100% + 4px);
  height: 8px;
  background: linear-gradient(to right, rgba(122,99,101,1) 0%,rgba(122,99,101,1) 22%,rgba(233,191,197,1) 23%,rgba(233,191,197,1) 79%,rgba(122,99,101,1) 79%); /* W3C */
  background-size: 9px 8px;
  border: 4px solid #7a6365;
}

.house3 .body{
  position: absolute;
  bottom: 80px;
  left: 0px;
  width: 100%;
  height: 90px;
  background: linear-gradient(to bottom, rgba(219,197,175,1) 0%,rgba(219,197,175,1) 36%,rgba(219,197,175,1) 37%,rgba(234,219,204,1) 37%,rgba(234,219,204,1) 69%,rgba(149,133,118,1) 69%);
  background-size: 70px 15px;
  box-shadow: inset 6px 0 0 rgba(0,0,0,0.1), inset -6px 0 0 rgba(0,0,0,0.1);
}

.house3 .windows{
  position: absolute; 
  bottom: 40px;
  left: 0px;
}

.house3 .windows li{
  float: left;
  width: 25px;
  height: 44px;
  border: 4px solid #958576;
  background: #e8d9cd;
  margin-left: 20px;
  margin-top: 20px;
}

.house3 .windows li:after{
  content: '';
  position: absolute;
  margin-top: 13px;
  width: 25px;
  height: 4px;
  background: #958576;
}

.house3 .windows li:before{
  content: '';
  position: absolute;
  margin-left: 10px;
  width: 4px;
  height: 44px;
  background: #958576;
}

.house3 .windows li div{
  position: absolute;
  margin-top: 46px;
  margin-left: -7px;
  width: 33px;
  height: 4px;
  background: #fff;
  border: 3px solid #958576;
  box-shadow: inset 0 -2px 0 #e1dad2, 0 4px 0 rgba(0,0,0,0.1); 
}

.house3 .stairs{
  position: absolute;
  bottom: -3px;
  left: 5px;
  width: 60px;
  height: 4px;
  border: 3px solid #958576;
}

.house3 .stairs:after{
  content: '';
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 50px;
  height: 4px;
  border: 3px solid #958576;
}

.house3 .door{
  position: absolute;
  bottom: 12px;
  left: 22px;
  width: 30px;
  height: 20px;
  border: 3px solid #958576;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  box-shadow: inset 14px 0 0 #dbc5af,inset 17px 0 0 #958576
}

.house4{
  position: absolute;
  bottom: 115px;
  left: 374px;
  width: 130px;
  height: 120px;
  border: 6px solid #534d48;
  background: #a69d96;
}

.tram1{
  position: absolute;
  bottom: 179px;
  left: -170px;
  background: #efc94c;
  width: 130px;
  height: 40px;
  border-radius: 6px;
  border: 4px solid #7f6642;
  animation: tram1 4s 0s linear infinite;
}

@keyframes tram1{
  0%{
    left: -320px;
  }
  100%{
    left: 460px;
  }
}

.tram2{
  left: -30px;
  animation: tram2 4s 0s linear infinite;
}

@keyframes tram2{
  0%{
    left: -180px;
  }
  100%{
    left: 600px;
  }
}

.tram1:before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background: #e6a73f;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid #7f6642;
}

.tram1:after{
  content: '';
  position: absolute;
  top: 12px;
  left: 0px;
  background: #7f6642;
  width: 100%;
  height: 2px;
}

.tram1 .door{
  position: absolute;
  left: 76px;
  bottom: -3px;
  border: 3px solid #7f6642;
  width: 20px;
  height: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: inset 9px 0 0 #efc94c, inset 11px 0 0 #7f6642;
}

.tram1 .door1{
  left: 28px;
}

.tram1 .door:after{
  content: '';
  position: absolute;
  bottom: 5px;
  left: 1px;
  border: 1px solid #7f6642;
  height: 10px;
  width: 4px;
  background: #efcda0;
  border-radius: 10px;
}

.tram1 .door:before{
  content: '';
  position: absolute;
  bottom: 5px;
  left: 13px;
  border: 1px solid #7f6642;
  height: 10px;
  width: 4px;
  background: #efcda0;
  border-radius: 10px;
}

.tram1 .window1{
  position: absolute;
  bottom: 5px;
  right: 10px;
  border: 3px solid #7f6642;
  border-radius: 5px;
  background: #efcda0;
  width: 8px;
  height: 12px;
}

.tram1 .window1:before{
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  width: 8px;
  height: 1px;
  background: #7f6642;
}

.tram1 .window2{
  position: absolute;
  bottom: 5px;
  right: 0px;
  border-left: 3px solid #7f6642;
  border-top: 3px solid #7f6642;
  border-bottom: 3px solid #7f6642;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #efcda0;
  width: 3px;
  height: 12px;
}

.tram1 .window3{
  position: absolute;
  bottom: 5px;
  left: 0px;
  border-right: 3px solid #7f6642;
  border-top: 3px solid #7f6642;
  border-bottom: 3px solid #7f6642;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #efcda0;
  width: 3px;
  height: 12px;
}

.tram1 .window4{
  position: absolute;
  bottom: 5px;
  left: 10px;
  border: 3px solid #7f6642;
  border-radius: 5px;
  background: #efcda0;
  width: 8px;
  height: 12px;
}

.tram1 .window4:before{
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  width: 8px;
  height: 1px;
  background: #7f6642;
}

.tram1 .window5{
  position: absolute;
  bottom: 5px;
  left: 56px;
  border: 3px solid #7f6642;
  border-radius: 5px;
  background: #efcda0;
  width: 12px;
  height: 12px;
}

.tram1 .window5:before{
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  width: 12px;
  height: 1px;
  background: #7f6642;
}

.tram_bar{
  background: #414b4d;
  position: absolute;
  bottom: 185px;
  left: 0px;
  width: 100%;
  height: 6px;
}

.tram_track{
  background: #a3bebf;
  position: absolute;
  left: 0px;
  bottom: 155px;
  height: 23px;
  width: 100%;
  border-top: 4px solid #414b4d;
  background: linear-gradient(to right, rgba(133,155,157,1) 0%,rgba(133,155,157,1) 23%,rgba(163,190,191,1) 23%,rgba(163,190,191,1) 75%,rgba(113,121,127,1) 75%,rgba(133,155,157,1) 75%);
  background-size: 23px 23px;
  box-shadow: inset 0 -11px 0 rgba(0,0,0,0.3), 0 12px 0 #414b4d;
}

.strut_conc{
  position: absolute;
  bottom: 85px;
  left: 25px;
  width: 25px;
  height: 25px;
  background: #d1c7be;
  border: 5px solid #928b85;
}

.strut_conc1{
  left: 355px;
}

.strut{
  position: absolute;
  bottom: 120px;
  left: 29px;
  width: 15px;
  height: 25px;
  background: #6c7e80;
  border-bottom: 5px solid #414b4d;
  border-left: 5px solid #414b4d;
  border-right: 5px solid #414b4d;
  box-shadow: inset 0 8px 0 rgba(0,0,0,0.2), inset 6px 0 0 #566466, inset 9px 0 0 #414b4d;
}

.strut1{
  left: 361px;
}

.strut_hold{
  position: absolute;
  bottom: 150px;
  left: 29px;
  width: 15px;
  height: 22px;
  background: #a3bebf;
  border: 5px solid #414b4d;
}

.strut_hold1{
  left: 361px;
}

.strut_hold div{
  width: 8px;
  height: 8px;
  margin: 2px;
  margin-left: 4px;
  border-radius: 360px;
  background: #414b4d;
}

.path2{
  position: absolute;
  bottom: 100px;
  left: 0px;
  width: 100%;
  height: 15px;
  background: #d1c7be;
}

.path{
  position: absolute;
  bottom: 60px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: #a69d96;
}

.side_road{
  position: absolute;
  left: 0px;
  bottom: 60px;
  width: 100%;
  height: 10px;
  background: #8d857f;
}

.side_road:before{
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, rgba(141,133,127,1) 0%,rgba(141,133,127,1) 5%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 95%,rgba(141,133,127,1) 95%,rgba(141,133,127,1) 95%);
  background-size: 50px 3px;
}

.side_road2{
  position: absolute;
  bottom: 94px;
  left: 0px;
  background: linear-gradient(to right, rgba(166,157,150,1) 0%,rgba(166,157,150,1) 2%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 98%,rgba(166,157,150,1) 98%,rgba(166,157,150,1) 97%);
  background-size: 50px 3px;
  width: 100%;
  height: 3px;
}

.plant_pot{
  position: absolute;
  bottom: 75px;
  left: 100px;
  width: 20px;
  height: 8px;
  background: #e9bfc5;
  border: 3px solid #7a6365;
  border-radius: 2px;
  box-shadow: inset 0 4px 0 #b19195;
}

.pot1{
  left: 210px;
}

.pot2{
  left: 320px;
}

.plant_pot:after{
  content: '';
  position: absolute;
  bottom: -8px;
  left: 1px;
  background: #b19195;
  border: 3px solid #7a6365;
  width: 13px;
  height: 2px;
  border-radius: 3px;
  
}

.plant_pot:before{
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  background: #e9bfc5;
  border: 3px solid #7a6365;
  width: 30px;
  height: 2px;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #b19195;
}

.tree{
  position: absolute;
  bottom: 92px;
  left: 106px;
  background: #6f5c54;
  height: 30px;
  width: 13px;
}

.tree1{
  left: 216px;
}

.tree2{
  left: 326px;
}

.tree:after{
  content: '';
  position: absolute;
  margin-top: -5px;
  margin-left: 5px;
  width: 20px;
  height: 15px;
  border-bottom: 6px solid #6f5c54;
  border-right: 6px solid #6f5c54;
  border-bottom-right-radius: 10px;
}

.tree:before{
  content: '';
  position: absolute;
  margin-top: -5px;
  margin-left: -20px;
  width: 20px;
  height: 15px;
  border-bottom: 6px solid #6f5c54;
  border-left: 6px solid #6f5c54;
  border-bottom-left-radius: 10px;
}

.tree div:first-child{
  position: absolute;
  top: -25px;
  left: -12px;
  width: 30px;
  height: 20px;
  background: #9db7ac;
  border: 4px solid #6c7a71;
  border-radius: 6px;
  box-shadow: inset 6px -6px 0 #84988e;
}

.tree div:nth-child(2){
  position: absolute;
  top: -22px;
  left: 16px;
  width: 15px;
  height: 10px;
  background: #9db7ac;
  border: 4px solid #6c7a71;
  border-radius: 6px;
  box-shadow: inset 3px -3px 0 #84988e;
}

.tree div:last-child{
  position: absolute;
  top: -22px;
  left: -32px;
  width: 20px;
  height: 15px;
  background: #9db7ac;
  border: 4px solid #6c7a71;
  border-radius: 6px;
}

.bench{
  position: absolute;
  bottom: 77px;
  left: 140px;
  height: 3px;
  width: 50px;
  border: 3px solid #6f5c54;
  background: #887168;
}

.bench1{
  left: 250px;
}

.bench:after{
  content:'';
  position: absolute;
  bottom: -6px;
  left: 4px;
  height: 5px;
  width: 5px;
  background: #6f5c54;
}

.bench:before{
  content:'';
  position: absolute;
  bottom: -6px;
  right: 4px;
  height: 5px;
  width: 5px;
  background: #6f5c54;
}

.bench div{
  position: absolute;
  bottom: 3px;
  left: 2px;
  height: 12px;
  width: 40px;
  border: 3px solid #6f5c54;
  background: linear-gradient(to bottom, rgba(111,92,84,1) 0%,rgba(111,92,84,1) 49%,rgba(111,92,84,1) 49%,rgba(136,113,104,1) 50%,rgba(136,113,104,1) 100%);
  background-size: 40px 4px;
  background-position: 0px -3px;
}

.bench div:after{
  content: '';
  position: absolute;
  left: -7px;
  bottom: 0px;
  width: 5px;
  height: 8px;
  border-top: 2px solid #6f5c54;
  border-left: 2px solid #6f5c54;
}

.bench div:before{
  content: '';
  position: absolute;
  right: -7px;
  bottom: 0px;
  width: 5px;
  height: 8px;
  border-top: 2px solid #6f5c54;
  border-right: 2px solid #6f5c54;
}

.road{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background: #d1c7be;
  box-shadow: inset 0 8px 0 #c4bab2;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 28px;
  left: 75px;
}

.road li{
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 10px;
  float: left;
  margin-left: 18px;
}

.credits{
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-family: Sans Serif, Arial;
  font-size: 14px;
}

.credits a{
  text-decoration: none;
  color: #71797f;
}